- content_for :merge_access_levels do
  .merge_access_levels-container
    = dropdown_tag(_('Select'),
                   options: { toggle_class: 'js-allowed-to-merge js-multiselect gl-w-full! gl-form-input-lg',
                   dropdown_class: 'dropdown-menu-user dropdown-menu-selectable capitalize-header', dropdown_qa_selector: 'allowed_to_merge_dropdown_content', dropdown_testid: 'allowed-to-merge-dropdown', filter: true,
                   data: { input_id: 'merge_access_levels_attributes', default_label: 'Select', qa_selector: 'allowed_to_merge_dropdown' } })
- content_for :push_access_levels do
  .push_access_levels-container
    = dropdown_tag(_('Select'),
                   options: { toggle_class: 'js-allowed-to-push js-multiselect gl-w-full! gl-form-input-lg',
                   dropdown_class: 'dropdown-menu-user dropdown-menu-selectable capitalize-header', dropdown_qa_selector: 'allowed_to_push_dropdown_content', dropdown_testid: 'allowed-to-push-dropdown', filter: true,
                   data: { input_id: 'push_access_levels_attributes', default_label: 'Select', qa_selector: 'allowed_to_push_dropdown' } })
  .form-text.text-muted
    = s_('ProtectedBranch|You can add only groups that have this project shared. %{learn_more_link}').html_safe % { learn_more_link: link_to(_('Learn more.'), help_page_path('user/project/members/share_project_with_groups')) }

= render 'protected_branches/shared/create_protected_branch'
